@font-face {
  font-family: beijocas;
  src: url('..//..//assets/fonts/exmouth/exmouth_.ttf');
}

.mini-container {
    display: flex;
    justify-content: center;
    
    background: linear-gradient(132deg, #d9d9d9,  
    #BC101F, #F285B4, #BC101F,#F285B4);
    background-size: 1400% 1400%;

    -webkit-animation:  45s ease infinite;
    -moz-animation:  45s ease infinite;
    animation:  45s ease infinite;
    border-radius: 8px;
    height: auto;
    min-height: 94vh;
  }
  
  .mini-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    width: 100%;
    max-width: 500px;
    border: 1px solid #d9d9d9;
    color: #0E0F2F;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.096);
    padding: 1.5rem;
    gap: 25px;
    text-align: center;
  }

  .mini-title-area {
    display: flex;
    justify-content: center;
    align-items: top;
    width: 90%;
    min-height: 100%;
    height: 35%;
    background-image: url('..//..//assets/SVG/bg_title.svg');
    background-size: cover;
    background-repeat: none;
    background-position: center;
  }
  
  .mini-title {
    display: flex;
    flex-direction: column;
    color: #F285B4;
    justify-content: top;
    font-family: beijocas, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 1rem;
    font-size: 6em;
    max-width: 400px;
    word-wrap: break-word;
  }

  .mini-title .and {
    font-size: xx-large;
  }
  
  .mini-body {
    margin-bottom: 1.5rem;
  }
  
  .mini-message {
    font-style: italic;
    margin-bottom: 1rem;
    width: 300px;
    word-wrap: break-word;
    margin-bottom: 30px;
  }

  .mini-image {
    width: 70%;
  }

  .preview-image {
    width: 100%;
    border-radius: 9px;
  }
  
  .mini-date {
    font-weight: bold;
  }
  
  .mini-footer {
    font-size: 0.85rem;
    color: #777;
  }
  