@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: Belgiano;
  src: url('./assets/fonts/belgiano_serif/Belgiano Serif 2.ttf');
}

body {
  background-color: #000000;
}

h1, h2, h3 {
  font-family: Belgiano, 'Times New Roman', Times, serif;
}


  .form-section,
  .preview-section {
    flex: 1 1 450px;
    max-width: 600px;
  }